{{#if authenticated}}
{{else}}
<p>Welcome to plotter on almost any device, login to activate the plotter and other features.</p>
{{/if}}
</p>{{>flash}}</p>
<img src="./images/map.png" alt="Map picture" class="map">