{{#if authenticated}}
{{else}}
<p>Welcome to Plotter On Almost Any Device, login to activate the plotter and other features.</p>
{{/if}}
{{>flash}}
<img class="map" src="./images/map.png" alt="Map picture">